/* viewport */

body {
	background-color: #ededed;
	font-family: helvetica;
	justify-content: center;
	margin: auto;
}

/* flex containers */

body,
#gameboard,
.card,
#scoreboard,
#star-rating,
#move-counter,
#timer {
	align-items: center;
	border-radius: 5px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

/* headers */

h1,
h4 {
	margin: 10px 0 0 0;
	text-align: center;
	width: 100%;
}

/* scoreboard */

#scoreboard {
	background-image: url("https://vignette.wikia.nocookie.net/legominifiguresonline/images/e/eb/Interface_Header-background.png/revision/latest?cb=20141006074432");
	box-shadow: 3px 3px 3px #374149;
	height: 10vmin;
	margin-top: 10px;
	max-width: 650px;
	width: 95vmin;
}

#star-rating,
#move-counter,
#timer {
	background-color: #79b6ea;
	height: 8vmin;
	width: 30%;
}

.fa-star {
	color: #fff054;
}

/* gameboard */

#gameboard {
	background-image: url("https://vignette.wikia.nocookie.net/legominifiguresonline/images/e/eb/Interface_Header-background.png/revision/latest?cb=20141006074432");
	box-shadow: 3px 3px 3px #374149;
	height: 115vmin;
	margin: 10px auto 10px auto;
	max-height: 500px;
	max-width: 650px;
	perspective: 500px;
	width: 95vmin;
}

.card {
	background-color: #79b6ea;
	box-shadow: 3px 3px 3px #374149;
	height: calc(23% - 2px);
	transform-style: preserve-3d;
  	transition: 1s ease-in;
	width: calc(23% - 2px);
}

/* card actions */

.icon {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	width: 30%;
}

.flipped {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.matched {
	visibility: hidden;
}

@keyframes wrong_answer {
	from {
		transform: rotate(360deg)
	}
    to {
    	background-color: red;
    }
}

.mismatch {
	animation-name: wrong_answer;
	animation-delay: 1s;
	animation-duration: 1s;
}

/* game reset button */

#new-game-button {
	background-color: #bccce0;
	box-shadow: 3px 3px 3px #374149;
	border: 0;
	border-radius: 5px;
	padding: 1em;
	width: 15vmin;
}

/* congratulations pop-up modal */

#congrats-modal {
	background-color: #ffffff;
	background-image: url("./images/fireworks.gif");
	background-size: 350px;
	box-shadow: 3px 3px 3px #374149;
	border-radius: 10px;
	height: 300px;
	position: fixed;
	text-align: center;
	width: 300px;
	z-index: 1;
}

.modal-title {
	font-weight: bolder;
}

.modal-content {
	font-size: 15px;
	width: 100%;
}

/* media query */

@media screen and (min-width: 680px) {
	body {
		max-width: 650px;
	}

	#gameboard {
		height: 80vmin;
		width: 75%;
	}

	#scoreboard {
		align-self: flex-start;
		height: 80vmin;
		max-height: 500px;
		width: 23%;
	}

	#star-rating,
	#move-counter,
	#timer {
		height: 25vmin;
		max-height: 150px;
		width: 90%;
	}

	#congrats-modal {
		height: 300px;
		width: 400px;
	}

	.modal-content {
		font-size: 20px;
	}
}
